
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
  
}



/* order */
.order{

}

.order_flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center; 
}

.order_flex_colum{

  flex-direction: column;

}

.order_flex_colum h4{
font-size: 19px;
color: rgb(35, 119, 153);

}

.order_flex_colum ul{
  font-size: 15px;
  font-weight: 200;
  color: #464141;
}
.img-order{
  width: 80px;
  height: 80px;
}


/* search order */
.input_order{

  width: 75%;
  margin: 0 auto;
}
.submit_order{
  width: 15%;
  background: grey;
  color: #fff;
  padding: 4px  9px;
  border: none;
  border-radius: 2px;
}
.sub_topic1-hover{
  display: none;
}

.border_topic{
  border :2px solid grey;
}
.border_link{
  border: 2px solid grey;
}
.topics_list{
 
  list-style: none;
  margin: 0;
  color: #fff;
  background: rgba(182, 168, 168,.5);
  
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */

}

.topics_list li a{

  color: #130909;
  text-decoration: none;


}


.topics_list li a:hover{

  color: orange;

  

}
.topic_col1{
  color: rgb(47, 47, 117);
  margin-left: -15px;

}


.sub_topic1 ul li a , .sub_sub_topic ul li a{
  color: rgb(47, 47, 117);
}

/* footer */
div.scrollmenu {
  background-color: #e4e4e4;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}


.scroll_product span{
color: rgb(43, 43, 233);
font-size: 19px;
}

.scroll_product .scrollmenu img{
  width: 200px;
  height: 250px;
  display: inline-block;
  text-align: center;
}
.loginbtn {
  text-align: center;
  padding-top: 20px;
  color: grey;
  padding-bottom: 20px;

}

footer{
 
  background:rgb(24, 24, 46); 
  
  text-align: center;
  
  
}
footer .backtotop{
  background: rgb(94, 105, 143);

}

footer .content{
  height: 40px;
  
  padding-top: 1px;
  padding-bottom: 10px;
}
footer .content  a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;

 
}

.colums{
  background: rgb(24, 24, 46);
  /* height: 200px; */
  padding-top: 20px;
  padding-bottom: 20px;
}



.col h2{
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}


.classul {
  list-style-type: none;
}
.classul li:first-child{
  margin-top: 15px;
}
.classul li{
  text-align: left;
  margin-left: 30px;
  margin-top: 5px;

}
.classul li a{
  color: #e1e1e1;
  /* background: red; */
  text-decoration: none;
}
.ul_amazon li{
  margin-left: -18px;
}
.ul_amazon_first li{
  margin-left: 29px;
}

hr{
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}

footer img{
  width: 150px;
  height: 50px;
  
} 
.button_group{
  text-align: center;
  margin-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.button_group a{
  text-decoration: none;
  color: #fff;
  border-color: #fff;
}
.footer_item{
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgb(2, 9, 32);
}
.section-item{
  padding-top: 10px;
  padding-bottom: 10px;
}

.section-item h4 
{
 color: #fff;
 font-size: 19px;
 font-weight: 200 ;
 text-align: left;
}
.section-item p{
  color: #fff;
  font-size: 15px;
 font-weight: 100 ;
 text-align: left;

}

/* end footer//////////////// */
